h1 {
  line-height: 72px;
  margin: 24px 0;
  color:White;
}

h6{
  line-height:24px;
  color:#fc3565;
}

h6 span{
  color:white;
  float:right;
}

p {
  line-height: 24px;
  margin: 24px 0;
  color:#bbbbc4;
}

BODY {
  background: #282931;
  -webkit-font-smoothing: antialiased;
  font-family: 'Varela Round', sans-serif;
  height: 100%;
}